# Dependencies
/node_modules
/.pnp
.pnp.*

# Testing
/coverage

# Build outputs
/out/
/build/
/dist/
.tanstack/

# Environment & local files
.env
.DS_Store
*.pem
*.local

# Logs
.pnpm-debug.log*
*.log*

# TypeScript
*.tsbuildinfo

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Other
dev-dist
