# prod
dist/
/build
/out/

# dev
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/
/node_modules
/.pnp
.pnp.*

# env
.env

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem

# local db
*.db*

# typescript
*.tsbuildinfo
